@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <fieldset>
        <div align="center">
            <legend>Notas</legend>
            <div>
                <input type="text" name="cod_alumno" id="cod_alumno" placeholder="codigo de alumno" class="input" minlength="1" />
            </div>
            <br />
            <div>
                <input type="text" name="nota_evaluacion" id="nota_evaluacion" placeholder="nota de evaluacion" class="input" minlength="1" />
            </div>
            <br />
            <div>
                <input type="text" name="cod_evaluacion" id="cod_evaluacion" placeholder="cod_evaluacion" class="input" minlength="1" />
            </div>
            <br />

            <div>
                <button type="submit" class="submit"> Insertar </button>
            </div>
            

        </div>

    </fieldset>
</form>
